.idea
frontend/e2e
frontend/node_modules
frontend/src
frontend/angular.json
frontend/package.json
frontend/package-lock.json
frontend/README.md
frontend/tsconfig.json
frontend/tslint.json
docs
gradle
public
.editorconfig
.gitignore
.travis.yml
build.gradle
Dockerfile.frontend
gradlew
gradlew.bat
heroku.yml
README.adoc
settings.gradle
